@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p:has(img) {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
  }
  p > img {
    flex-grow: 1;
    min-width: calc(100% / 8);
    object-fit: contain;
    justify-content: center;
  }
  li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  @media only screen and (max-device-width: 480px) {
    p:has(img) {
      justify-content: center !important;
    }
    p > img {
      min-width: 40% !important;
      object-fit: cover !important;
      height: 11rem !important;
    }
    #root > div > div > article > p:nth-child(6) > img {
      width: auto !important;
    }
  }
  #editorContainer {
    height: calc(100vh - 9.25rem);
  }
  textarea {
    font-size: 21px !important;
    line-height: 24px !important;
  }
}

ul {
  list-style-type: circle;
  text-color: black;
}
